<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task completed</title>
</head>
<body>
        <p>Название задачи:{{name_task}}</p>
        <p>Описание задачи:{{task_description}}</p>
        <p>Имя ответсвенного:{{responsible_for_the_task}}</p>
        <p>Дата окончания задачи:{{task_end_date}}</p>


        <table>
            <tr>
                <td>{{name_task}}</td>
                <td>{{task_description}}</td>
                <td>{{responsible_for_the_task}}</td>
                <td>{{task_end_date}}</td>
            </tr>
            <tr>
                <td>Название задачи</td>
                <td>Описание задачи</td>
                <td>Дата окончания задачи</td>
                <td>Имя ответсвенного</td>
            </tr>
        </table>
</body>
</html>